<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xibei.xdwgkotlin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
            android:allowBackup="true"
            android:icon="@mipmap/logo"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/logo"
            android:supportsRtl="true"
            android:usesCleartextTraffic="true"
            android:theme="@style/AppTheme"
            android:name="kotlindemo.MyApplication">

        <activity android:name="kotlindemo.activity.SplashActivity"
                  android:theme="@style/fullWindow"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="kotlindemo.activity.MainActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/homeStyle"/>
        <activity android:name="kotlindemo.activity.QrCodeActivity"
                  android:screenOrientation="portrait" />

        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="com.xibei.physicaldistributionmanagement.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths_public">
            </meta-data>
        </provider>

    </application>
</manifest>
